@using Viatecla.Factory.Scriptor
@model ScriptorContent
@{
	Layout="Extranet_Usuario_Anonimo_Error";
	ScriptorContent mimodel=Common.ScriptorClient.GetChannel(new Guid("F0BF3395-1442-4BFE-8D97-5298D7CE2F01")).Properties.Content;
}
<div id="frmError">
	<div id="innerError">
		<img src="/bundles/d41d8cd98f00b204e9800998ecf8427e/faffabed-c58a-4d3d-94e3-5237ee4668c4/Images/error.png" id="imgError" />
		<h1>@Html.Raw(mimodel.Parts.titulo)</h1>
		<div class="textoError">
			@Html.Raw(mimodel.Parts.mensaje.ToString())
		</div>
	</div>
</div>
