@model ScriptorContent
@using Viatecla.Factory.Scriptor
@using System.Xml
@using GR.Scriptor.Frameworks

@{
    Layout = "Extranet_PaginaMaestraUsuarioLogeado";
	var controladora="";
  	if(!String.IsNullOrEmpty(Model.Parts.ControladorAngular))
    {
    	controladora="ng-controller="+Model.Parts.ControladorAngular;
    }
    
}


<div style="width:100%;float:left">
 
  </div>

  
  
  
<script src="/bundles/5f9615e8d51557e5beb5b99cb4c3f03c/0415f04e-3263-4c76-9c58-b7fac70a6327/0a832474-cba9-456b-ba43-e2ca8c559a09/ckeditor.js"></script>
<div class="block" ng-controller="FormularioGenericoController">
    <div @controladora>

        <div class="contenido clearfix ng-scope">  
		   
  
            <div id="seccionD-1" class="paCargarDinamico">
      
      			@Html.Template((ScriptorContent)Model,"Extranet_BotoneraGrabarClasica")  
      
                <a href="" class="paCargarDinamicoURL" style="display: none;" urlregresar="@Url.ScriptorChannel(Model.Parts.CanalRegresar[0] as ScriptorChannel)"></a>
                <div class="block_cab block_cab_active">
                    <h2>
                        <span>Mantenimiento @Model.Title</span></h2>
                    <h3><span></span></h3>
                    <div class="acordeon">
                    </div>
                </div>
                <div id="ContentListado" class="block_content">
                    <div class="form_section">
                        <div class="forms2">
                            <form data-action="/formulario" method="post" id="grForm_86828d70-ba4e-4e54-b5bc-c60db6d0430f" enctype="multipart/form-data" action="#" class="DivContentForm" target="frmCriterioIframe">
                                <!--<div>-->
                                <div class="container" style="width: 100%">
                                    <div class="row" style="position: relative">

                                      @Html.Template((ScriptorContent)Model,"FormulariosScriptor")  
  
                                    </div>
                                    <div class="row">
                                       
                                    </div>
                                </div>
                            </form>
                            <!--</div>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </div>
</div>

 

<link rel="stylesheet" href="/bundles/5f9615e8d51557e5beb5b99cb4c3f03c/ba879a6d-afed-44a5-8e9e-3a73a9c1b52e/d273f338-c881-425e-997b-636abab6d012/samples.css" />
<link rel="stylesheet" href="/bundles/5f9615e8d51557e5beb5b99cb4c3f03c/a829f164-6fa0-42b4-949e-07cdbfe2617f/f58eedd5-7b37-4b46-bc0d-f8b0996ea45a/neo.css" />

<script src="/bundles/5f9615e8d51557e5beb5b99cb4c3f03c/0415f04e-3263-4c76-9c58-b7fac70a6327/0a832474-cba9-456b-ba43-e2ca8c559a09/ckeditor.js"></script>
<script src="/bundles/5f9615e8d51557e5beb5b99cb4c3f03c/a6f61a2d-083d-4196-a2fb-f81861d1e77e/a5070785-e1de-4b43-bb0a-580d8243b730/sample.js"></script>




<script>
  try{
    initSample();
  }catch(exception)
  {}
</script>

