@using Viatecla.Factory.Scriptor
@model ScriptorContent
@{
  Layout=null;
    var HomePage= Common.ScriptorClient.GetChannel(new Guid("76BA62DA-ECA1-458C-AC75-A660EA4C74C7")).Properties.Content;   
  string colorPrincipal = HomePage.Parts.ColorPrincipal.ToString();
  string codigoCliente = "";
  string codigoGrupoCliente = "";
  
  if(Session["CodigoGrupoCliente"]!= null)
  {
      codigoGrupoCliente = Session["CodigoGrupoCliente"].ToString();
      Guid? idCanalGrupoCliente = new Guid("475077F2-4D02-4045-8FC5-84C4EF6135C6");
      ScriptorClient scriptorClient = Common.ScriptorClient;// new ScriptorClient(); //nuevo cliente para evitar uso de cache
      ScriptorChannel canalGrupoCliente = scriptorClient.GetChannel(idCanalGrupoCliente.Value); //usar el nuevo cliente
      var ListaGrupoClienteScriptor = canalGrupoCliente.QueryContents("Codigo", codigoGrupoCliente, "=").ToList();
      if (ListaGrupoClienteScriptor.Count > 0)
      {
            var contenido = ListaGrupoClienteScriptor[0];
            if(!String.IsNullOrEmpty(contenido.Parts.ColorPrincipal.ToString()))
            {
              colorPrincipal = contenido.Parts.ColorPrincipal.ToString();
            }
            if(!String.IsNullOrEmpty(contenido.Parts.ColorPrincipal.ToString()))
            {
              colorPrincipal = contenido.Parts.ColorPrincipal.ToString();
            }
	  }
  	
  }
  if(Session["CodigoCliente"]!= null)
  { 
    codigoCliente = Session["CodigoCliente"].ToString();
    Guid? idCanalClientes = new Guid("84843A17-EFFD-42B6-B97C-8540BD3183EE");
    ScriptorClient scriptorClient = Common.ScriptorClient;// new ScriptorClient(); //nuevo cliente para evitar uso de cache
    ScriptorChannel canalClientes = scriptorClient.GetChannel(idCanalClientes.Value); //usar el nuevo cliente
    var ListaClientesScriptor = canalClientes.QueryContents("Codigo", codigoCliente, "=").ToList();
    if (ListaClientesScriptor.Count > 0)
    {
      var contenido = ListaClientesScriptor[0];
      ScriptorContent grupoCliente = contenido.Parts.GrupoCliente.Content;
      
      if(!String.IsNullOrEmpty(grupoCliente.Parts.ColorPrincipal.ToString()))
      {
        colorPrincipal = grupoCliente.Parts.ColorPrincipal.ToString();
      }
      
      if(!String.IsNullOrEmpty(contenido.Parts.ColorPrincipal.ToString()))
      {
        colorPrincipal = contenido.Parts.ColorPrincipal.ToString();
      }
    }
  }
}
	<div class="highlights-container col-md-12">
      	<div class="wrapper">
          	<div id="footer" style="background-color: @colorPrincipal ">
              <p class="left">@Model.Parts.TextoCopyRight</p>
              <p class="right">@Model.Parts.TextoInferiorDerecha</p>
        	</div>
        </div>
    </div>
     <script src="http://seguimientopedidos.ransa.net/bundles/5f9615e8d51557e5beb5b99cb4c3f03c/9a02b174-c326-4108-905f-7b8baf72e135/e23fa39a-ed5e-4632-80af-00eed827f2af/master.js" type="text/javascript" ></script>
        @if(Convert.ToBoolean(Session["EsAdministrador"])==true)
        {
        	@:<script>
          	@:CargaInicialAdm();
          	@:</script>
        }
       
        
