@using Viatecla.Factory.Scriptor
@model ScriptorContent 
  @{
Layout = "Extranet_PaginaMaestraUsuarioLogeado";
}
<div class="wrapper wrapperMediano col-md-12" style="overflow: visible; background-color: white; border: 1px solid #0E75B5; margin-bottom: 0px; padding: 0 0 0 0;">
    <div style="width: 100%; height: 300px; font-family: Verdana; font-size: 20pt; text-align: center">
        <br>
        <br>
        <br>
        <br>
        @Html.Raw(@Model.Parts.texto_de_bienvenida) 
    </div>
</div>
