<div class="block_menu">
    <div style="max-width: 100%; height: 100%">
        <div class="boton">
            <button class="SeparatorLeft boton1Style boton1" ng-click="Buscar_Click();" ng-enter="Enter()" style="">
                <span class="boton1Span">
                    <img class="boton1Img csBtnBuscar" alt="Buscar" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/faffabed-c58a-4d3d-94e3-5237ee4668c4/Images/formatmap32x32.png">
                </span>
                <span class="boton1txt">Buscar</span>
            </button>
        </div>
        
      
  		<div class="boton">
            <button class="SeparatorLeft boton1Style boton1" ng-click="Nuevo_Click();" style="width: 65px!important;">
                <span class="boton1Span">
                    <img class="boton1Img csBtnNuevo" alt="Nuevo" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/faffabed-c58a-4d3d-94e3-5237ee4668c4/Images/formatmap32x32.png">
                </span>
                <span class="boton1txt">Nuevo</span>
            </button>
        </div>
  
   
  		<div class="boton">
            <button class="SeparatorLeft boton1Style boton1" ng-click="Eliminar_Click();" style="width: 65px!important;">
                <span class="boton1Span">
                    <img class="boton1Img csBtnQuitar" alt="Eliminar" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/faffabed-c58a-4d3d-94e3-5237ee4668c4/Images/formatmap32x32.png">
                </span>
                <span class="boton1txt">Eliminar</span>
            </button>
        </div>
  
  
  
    <div class="boton">
            <button class="SeparatorLeft boton1Style boton1" ng-click="Limpiar_Click();" style="">
                <span class="boton1Span">
                    <img class="boton1Img csBtnLimpiar" alt="Limpiar" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/faffabed-c58a-4d3d-94e3-5237ee4668c4/Images/formatmap32x32.png">
                </span>
                <span class="boton1txt">Limpiar</span>
            </button>
        </div>
        

  
 
  
  <div class="boton">
            <button class="SeparatorLeft boton1Style boton1" ng-click="Salir_Click();" style="">
                <span class="boton1Span">
                    <img class="boton1Img csBtnSalir" alt="Salir" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/faffabed-c58a-4d3d-94e3-5237ee4668c4/Images/formatmap32x32.png">
                </span>
                <span class="boton1txt">Salir</span>
            </button>
        </div>
  
    </div>
</div>

