@using Viatecla.Factory.Scriptor
@model ScriptorContent 
@{
    ScriptorContent mimodel1=Common.ScriptorClient.GetChannel(new Guid("2787125D-07DB-437B-9A7D-42ECFD70F799")).Properties.Content;
}
<div id="frmOlvido" class="block_content" style="display:none;">
    @using (Html.ScriptorForm(mimodel1.Parts.Formulario[0] as ScriptorChannel, (string)null, null, new {@class="DivContentForm", target = "frmOlvidoIframe" }))
    {
          
    } 
    <div class="cuadroMensaje"></div>
    <iframe name="frmOlvidoIframe" id="frmOlvidoIframe" style="display: none;" src="about:blank"></iframe>
</div>
@{
    ScriptorChannel olvido=Model.Channel;
}

<script type="text/javascript">
  $(function(){
        var datosOlvido={
            "enviar":"@Model.Parts.NombreBotonEnviar",
            "cancelar":"@Model.Parts.NombreBotonCancelar",
            "msgSuccess":"@Model.Parts.MensajeEnviado",
            "msgError":"@Model.Parts.MensajeError",
            "urlOlvido":"/Seguridad/CambiarConstraseniaMSC/"
        };
        var olvido = $("#frmOlvido form"); 
        olvido=$("#frmOlvido form");
        olvido.find(":submit").val(datosOlvido.enviar);
        olvido.find("input[name=Usuario]").addClass("soloalfanumerico inc_arroba inc_punto").attr({
            "maxlength":50
        });

        var btnCancelOlvido=document.createElement("input");
        btnCancelOlvido.id="btnCancelOlvido";
        btnCancelOlvido.type="button";
        btnCancelOlvido.value=datosOlvido.cancelar;
        $(btnCancelOlvido).appendTo(olvido);


        $("#frmOlvidoIframe").ScriptorSubmit(function(){
      
      var datos = JSON.stringify({
                    "TipoCambioClave": 0,
                    "CodigoUsuario": olvido.find("input[name=Usuario]").val(),
                    "ClaveAntigua": "clave",
                    "ClaveNueva": "clave",
                    "ClaveNuevaConfirmada": "clave"
                });
            miBlock(true, "body");
            olvido.find(":submit").attr("disabled","disabled");
            $.ajax({
      
//      url:'http://localhost:32607' + datosOlvido.urlOlvido,
              url:datosOlvido.urlOlvido,
                type:"post",
                headers: { __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val() },
                data:JSON.stringify({
                    "TipoCambioClave": 0,
                    "CodigoUsuario": olvido.find("input[name=Usuario]").val(),
                    "ClaveAntigua": "clave",
                    "ClaveNueva": "clave",
                    "ClaveNuevaConfirmada": "clave"
                }),
                dataType:"json",
      			contentType: "application/json",
                success:function(datos){
                    miBlock(false, "body");
                    //data=$.parseJSON(data);
      
                    if(datos.Success===true){
                        olvido.parent().find(".cuadroMensaje:first").html(datosOlvido.msgSuccess);
                    }else{
                        olvido.parent().find(".cuadroMensaje:first").html(datosOlvido.msgError);
                    }

                    olvido.find("input[name=Usuario]").val("");
                    olvido.find(":submit").removeAttr("disabled");
                }
            });
            return false;
        });

        $(btnCancelOlvido).click(function(){
            $("#frmLogin").show();
            $("#frmOlvido").hide();
            $("#frmOlvido .field-validation-error span").remove();
            $("#frmOlvido :text").val("");
            $("#frmOlvido [type=email]").val("");
            olvido.parent().find(".cuadroMensaje:first").html("");
            return false;
        });
    });
</script>
                      

