<div class="block_cab block_cab_active">
    <h2>
        <span>Datos Generales</span>
    </h2>
    <h3></h3>
    <div class="acordeon">
    </div>
</div>
<form id="ConfiguracionCargaMaisvaFrm" name="ConfiguracionCargaMaisvaFrm">
    <div class="block_content" style="width: 100%">
        <div class="col-md-5 row">
            <div class="col-md-4">
                Descargar Plantilla:
            </div>
            <div class="col-md-8">
  				<button ng-click="DescagarPlantilla_Click();">Descargar</button>
              
                
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre de Archivo</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input id="upload" name="upload" type="file" />
                                <div class="caja11 msgerror upload">
                                    <span class="field-validation-valid msgerror" data-valmsg-for="upload" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div class="boton">
                                    <button id="btnEliminar" class="boton1Style boton1">
                                        <span class="boton1Span">
                                            <img alt="Eliminar" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/faffabed-c58a-4d3d-94e3-5237ee4668c4/images/eliminar.png">
                                        </span>
                                        <span class="boton1txt">Eliminar</span>
                                    </button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>


