<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="Viatecla.Factory.Scriptor.ModularSite.Routes" type="Viatecla.Factory.Scriptor.ModularSite.RouteConfigSection"/>
    <section name="PaginasAnonimas" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="conRomSql" connectionString="Data Source=10.72.1.133;Initial Catalog=ScriptorAPIRansaDev;UID=ransaFE; pwd=ransaFE!2015#$;"/>
  </connectionStrings>
  <PaginasAnonimas>
    <add key="Home" value="/pt-PT/Home"/>
  </PaginasAnonimas>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="CanalPrincipalPortal" value="APIRansa"/>



    <add key="Viatecla.Factory.Web.Languages" value="es-PE,en-GB"/>
    <add key="Viatecla.Factory.Web.LangCookieName" value="language"/>
    <add key="Viatecla.Factory.Web.EnableRequestParameterCookie" value="1"/>

    <add key="Viatecla.Factory.Web.UseCache" value="true"/>

    <add key="Viatecla.Factory.Web.NoCacheParam" value="usecache"/>
    <add key="Viatecla.Factory.Web.NoCacheParamValue" value="0"/>
    <add key="Viatecla.Factory.Web.DebugTimeParam" value="debug_time"/>
    <add key="Viatecla.Factory.Web.DebugTimeParamValue" value="1"/>
    <add key="Viatecla.Factory.Web.MemDebugTimeParam" value="memdebug_time"/>
    <add key="Viatecla.Factory.Web.MemDebugTimeParamValue" value="1"/>
    <add key="Viatecla.Factory.Web.ProfileTimeParam" value="profile_time"/>
    <add key="Viatecla.Factory.Web.ProfileTimeParamValue" value="1"/>
    <add key="Viatecla.Factory.Web.RefreshCacheParam" value="refreshcache"/>
    <add key="Viatecla.Factory.Web.RefreshCacheParamValue" value="1"/>
    <add key="Viatecla.Factory.Web.RefreshTranslationParam" value="refreshtrans"/>
    <add key="Viatecla.Factory.Web.RefreshTranslationParamValue" value="1"/>
    <add key="Viatecla.Factory.Web.ClearTemplatesParam" value="cleartemplates"/>
    <add key="Viatecla.Factory.Web.ClearTemplatesParamValue" value="1"/>
    <add key="Viatecla.Factory.Web.RecycleParam" value="recycle"/>
    <add key="Viatecla.Factory.Web.RecycleParamValue" value="1"/>



    <add key="Viatecla.Factory.Scriptor.ConnectionString" value="Initial Catalog=ScriptorAPIRansaDev; Data Source=10.72.1.133; UID=ransaFE; pwd=ransaFE!2015#$;"/>
    <add key="Viatecla.Factory.Scriptor.DefaultUser" value="anonimo"/>

    <add key="Viatecla.Factory.Scriptor.ErrorOnUndefinedTemplate" value="false"/>

    <add key="Viatecla.Factory.Scriptor.ClientLicense" value="uR/N6CyHhrIsEflElvAKXn3GwOj64B3+h+S5QoVhFBTBnwNZtWRUKjg0YPZnN/OH0LP9xqUdRe1BN2RdHSq/4YplQfUSPx5Kvj5M/W//UuMTm89pPaPGLhz3q7+wdJwdKlRdTf0BHF99yO8c1wpYej207MiQ01Lu3xmqrDJugsRzF8EgJ9H+KhyMMQBOZaWQ08RLsfgdiBASteZOOwUGve5SoIYQhcFB0i7OyCNSpM8qDgfwgX30VsTY9I4vNSPP/fnXf9mYu5TBKVUpzzUhaTrEOIpvahODMIuUwP4ei9kaIyaLq7RGVi0g93tvWjBVDdUlAGnVzL6Kn/oZ/o8Oh3qII3SCNEpFWQmzjzSzO2iGFMoxc21vYHDi8M5v3qyz2+5mEe7eZTU6AyFlsheckXSoRzyMFwqI2NLMpzySe4IOORfBcrn7bLudrnZv+TVWz1rngA8if+r/X/V2hNsu4NGqmqg9SpjO98Hi5JhjVuCzc311dg9u7jT5LwVMONcigqPApyHINajej4t8UfBz7QY/6dgEXNdVFxpRjFCqXb9oh6MND84lsARaJlGBs8UqJFkmEKYEubwO27fAARsqd2pl2AyAasy3oZFX+ibLRB8Y1xEXkw6dqC7Avgd2xEpbE4tiHqr/oXVerTsnqP2wVMcdpyGUrJdjBdrlAvA4R8kktJEiZ7slEEdizSaY4gtLnyKKs/H5MQcZX/IV98MCVw=="/>

    <add key="Viatecla.Factory.Scriptor.BackofficeURL" value="http://apiransa.dev:1002/"/>

    <add key="Viatecla.Factory.Scriptor.ImageDownloadMask" value="/static/%year(dtestate)%-%month(dtestate)%/%dtestate%_%SchemaID%$$%ChannelID%$$%ContentID%$$%FieldName%$$%Lang%$$%Ver%.%fileextention%"/>

    <add key="Viatecla.Factory.Scriptor.SMTP" value="localhost"/>
    <add key="Viatecla.Factory.Scriptor.UseKeywordsFromScriptor" value="1"/>

    <add key="Viatecla.Factory.Scriptor.ModularSite.MultipleSites" value="true"/>
    <add key="Viatecla.Factory.Scriptor.ModularSite.SiteRootChannel" value="/ransa/portal/apiransa"/>
    <add key="Viatecla.Factory.Scriptor.ModularSite.SiteHomeChannel" value="homepage"/>
    <add key="Viatecla.Factory.Scriptor.ModularSite.HostFieldName" value="HostAddress"/>

    <add key="Viatecla.Factory.Scriptor.ModularSite.TranslationsProvider" value="Scriptor"/>
    <!--value="Scriptor" />-->
    <add key="Viatecla.Factory.Scriptor.ModularSite.TranslationsChannel" value="/ransa/repositorio/traducciones"/>

    <!--<add key="Viatecla.Factory.Scriptor.ModularSite.SearchType" value="TernaryTree" />-->
    <add key="Viatecla.Factory.Scriptor.ModularSite.SearchType" value="FullText"/>
    <add key="Viatecla.Factory.Scriptor.ModularSite.SearchSubChannels" value="false"/>

    <add key="Viatecla.Factory.Scriptor.ModularSite.PreventUrlRewriteExtensions" value=".jpg,.png,.gif,.aspx,.asp,.js,.css,.tmpl"/>
    <add key="Viatecla.Factory.Scriptor.ModularSite.PrefixPath" value=""/>
    <add key="Viatecla.Factory.Scriptor.ModularSite.FriendlyUrlSeparator" value="_"/>

    <add key="Viatecla.Factory.Scriptor.ModularSite.UseCultureInURL" value="true"/>

    <add key="Viatecla.Factory.Scriptor.ModularSite.RegisteredModules" value="Viatecla.Factory.Scriptor.ModularSite.Administration;ModuloAPIRansa"/>
    
    <add key="Viatecla.Factory.Scriptor.ModularSite.Administration.EditUrl" value="admin."/>
    <add key="Viatecla.Factory.Scriptor.ModularSite.Administration.RepositoryChannel" value="/ransa/repositorio"/>

    <add key="ConexionBDGR" value="Initial Catalog=ScriptorCorporacionServiciosGR; Data Source=10.72.1.199; UID=romeroFEL; pwd=123456;"/>
    <add key="UserLectura" value="anonimo"/>

    <add key="From" value=""/>
    <add key="Host" value="10.72.1.71"/>
    <add key="fromName" value="Workspace"/>
    <add key="from" value="workspace@gromero.com.pe"/>
    <add key="Port" value=""/>
    <add key="EnableSsl" value="false"/>
    <add key="UseDefaultCredentials" value="true"/>
    <add key="CredentialsUser" value=""/>
    <add key="CredentialsClave" value=""/>
    <add key="HabilitarLog" value="1"/>
    <add key="TipoCorreoAdjunto" value="2"/>
    <add key="webSiteChannelName" value="Calculador Web"/>
    <add key="TipoLog" value="DEBUG"/>


    <!--// Active Directory-->
    <add key="RutaLogMain" value="C:\log\" />
    <add key="NameLog" value="Log.txt" />
    <add key="NameLogEventos" value="LogEventos.txt" />
    <add key="RutaServicio" value="http://10.72.1.75:1005/smwf.asmx/simular?" />

  </appSettings>

  <location path="." inheritInChildApplications="false">
    <system.web>
      <compilation targetFramework="4.5"/>
      <httpRuntime targetFramework="4.5"/>
      <authentication mode="Windows">
        <forms loginUrl="/autenticacao" timeout="2880"/>
      </authentication>
      <customErrors mode="Off"/>
      <pages>
        <namespaces>
          <add namespace="System.Web.Helpers"/>
          <add namespace="System.Web.Mvc"/>
          <add namespace="System.Web.Mvc.Ajax"/>
          <add namespace="System.Web.Mvc.Html"/>
          <add namespace="System.Web.Routing"/>
          <add namespace="System.Web.WebPages"/>
        </namespaces>
      </pages>
      <machineKey validationKey="587D79495CF3A6266065303553D95A594ECE6C2B963C43458A477BFB74CD1E5954060594451E39B77D6F6D21BB7586810E43B9C3202C0A68A49B85E8C699CA2B" decryptionKey="53F2141FEA4F2EE83B60E3FDE0A8A1FEBBB67F29C5326418"/>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="MiniProfiler" path="weblib/profiler/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>

    <!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
 
    <customErrors mode="Off" /> 
    <httpErrors errorMode="Detailed" />

-->

    <httpErrors errorMode="Custom">
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
    </httpErrors>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="fonts/woff2"/>
      <!--<mimeMap fileExtension=".otf" mimeType="application/font-woff" />-->
    </staticContent>
    <security>
      <authorization>
        <clear/>
        <add accessType="Allow" users="*"/>
      </authorization>
    </security>
    <!--<rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" matchType="Pattern" pattern="^gruporomero\.com\.pe$" ignoreCase="true" negate="false" />
                    </conditions>
                    <action type="Redirect" url="http://www.gruporomero.com.pe/{R:1}" />
                </rule>
            </rules>
        </rewrite>-->
  </system.webServer>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.19.0" newVersion="3.2.19.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140"/>
      </dependentAssembly>







    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <file value="log\romero.log"/>
      <appendToFile value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Date"/>
      <datePattern value="'.'yyyyMMdd'.log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="********************** START **************************

"/>
        <footer value="*********************** END ***************************

"/>
        <conversionPattern value="[%t] %d %-5p - %m%n "/>
      </layout>
    </appender>
    <logger name="Viatecla.Factory.Web.Log">
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
  </log4net>
</configuration>
