<Viatecla.Factory.Scriptor.ModularSite.Routes>
  <routes>
    <clear />
    <add identifier="Login" culture="pt-PT" url="autenticacao" />
    <add identifier="Login" culture="en-GB" url="login" />
    <add identifier="Login" culture="es-PE" url="autenticacion" />

    <add identifier="Register" culture="pt-PT" url="registo" />
    <add identifier="Register" culture="en-GB" url="register" />
    <add identifier="Register" culture="es-PE" url="registro" />

    <add identifier="Logout" culture="pt-PT" url="terminarsessao" />
    <add identifier="Logout" culture="en-GB" url="logout" />
    <add identifier="Logout" culture="es-PE" url="terminarsesion" />

    <add identifier="ConfirmNewUser" culture="pt-PT" url="confirmarregisto" />
    <add identifier="ConfirmNewUser" culture="en-GB" url="confirmregistration" />
    <add identifier="ConfirmNewUser" culture="es-PE" url="confirmarregistro" />

    <add identifier="SiteMap" url="sitemap.xml">
      <params>
        <add name="fieldName" default="SiteMap" />
        <add name="depth" default="5" />
      </params>
    </add>
  </routes>
</Viatecla.Factory.Scriptor.ModularSite.Routes>
