<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ExpiracionCacheHoras" value="24"/>
  <add key="Viatecla.Factory.Web.Languages" value="es-PE,en-GB" />
  <add key="Viatecla.Factory.Web.LangCookieName" value="language" />
  <add key="Viatecla.Factory.Web.EnableRequestParameterCookie" value="1" />

  <add key="Viatecla.Factory.Web.UseCache" value="true" />

  <add key="Viatecla.Factory.Web.NoCacheParam" value="usecache" />
  <add key="Viatecla.Factory.Web.NoCacheParamValue" value="0" />
  <add key="Viatecla.Factory.Web.DebugTimeParam" value="debug_time" />
  <add key="Viatecla.Factory.Web.DebugTimeParamValue" value="1" />
  <add key="Viatecla.Factory.Web.MemDebugTimeParam" value="memdebug_time" />
  <add key="Viatecla.Factory.Web.MemDebugTimeParamValue" value="1" />
  <add key="Viatecla.Factory.Web.ProfileTimeParam" value="profile_time" />
  <add key="Viatecla.Factory.Web.ProfileTimeParamValue" value="1" />
  <add key="Viatecla.Factory.Web.RefreshCacheParam" value="refreshcache" />
  <add key="Viatecla.Factory.Web.RefreshCacheParamValue" value="1" />
  <add key="Viatecla.Factory.Web.RefreshTranslationParam" value="refreshtrans" />
  <add key="Viatecla.Factory.Web.RefreshTranslationParamValue" value="1" />
  <add key="Viatecla.Factory.Web.ClearTemplatesParam" value="cleartemplates" />
  <add key="Viatecla.Factory.Web.ClearTemplatesParamValue" value="1" />
  <add key="Viatecla.Factory.Web.RecycleParam" value="recycle" />
  <add key="Viatecla.Factory.Web.RecycleParamValue" value="1" />

  <add key="Viatecla.Factory.Scriptor.ConnectionString" value="Initial Catalog=ScriptorRansaSeguimientoPedidos; Data Source=10.72.1.133; UID=sa; pwd=123;" />
  <add key="Viatecla.Factory.Scriptor.DefaultUser" value="anonimo" />
  <add key="Viatecla.Factory.Scriptor.ErrorOnUndefinedTemplate" value="false" />

  <add key="Viatecla.Factory.Scriptor.ClientLicense" value="uR/N6CyHhrIsEflElvAKXoP8fDiuJWsaJmo6daL8mMV84+Xummt2GdCbVTiwEfZ

+kxkpHKHwJPQu/mfWEnbp0+0/0AyC42Wi/VceF5LnG24yrkp3E4i2bdT433KduWswOrOZCepdg/XMY7FDxRcDw+RXqPsKccxY5iasWCzSgQlXfAECcSPxw0k

+DjBQobSHZ0Cdez4s76c7qQyw9bjjuzBnXZOlRPVOGqEWlXeo5iHnBsyRaesjTpT3nd9AmjqkuA3jVea0SevUtP5w65DfYa+sieakLMUBbmfE4M

+89FZcWnYdX4LcRXeZQ/BMnA6WZvQP3PMeMtCtW1Jz9CcK0HGzs7/qJxLk7nw65hdJ5o4PPhMeIwK4a

+Hw8Xl/QF/D1FYJAl6yy8Ehicl2Fvv2O/jOgvlub9RGm5MxjC1bPbloRmXTFFes5+gPjtBuQzQzeZvFov8AplfH3vpCWSR6TADROaRdM1OTfL9llxEjwOyD8ntz0qwUqzp3wrKlP42rBAGckDqDb6X3bgiy35

qa8YMAae+kTn88uXw+YpTHnLXMJMY63QRglyeJnuFNrD0UtEMlPu7iVkhWi3T9OW2ZyFVsrOcrikAndEqPq6PCkQWB7/r6/w0GKFKF

+2wcmxNirohhi3bgrxvF938LipwAJQhOGLvcsivH7mjIf0dAPWEcYSkbG2qEAK8vX1mCEEnd4rA/V3i/1daeZgO30+8f2V/49ZWWFvXL3Jv2dwI

+6opgF3h3JRgOlpevmyTvrfir9jt8jyp4SAWMN8A/qd9idP3J77i9IizOvf8+wJzLRyyAzZlSB8TB7N6vtpBifEvs/BfKBwzkyHKUJdbqis/N8arNz9BMeGJ/n/Mi9OSrvKJU0E3AO6EPk36zM5mxmlAQ9Y/S

84s+k82KI8ViaPt06D7sUdmsMQz8243v6St

+THs1je/C24Emiwm17bHZnjAvshYWSB4F8APZmqcMHvZhekTViu0dmragdleCbGrlBQ9vF4U82WyhPUbXATXutQsd0XF1TWcPm5zMuAcmYgHgGa640fu2tbfflb3cVRR1hXVISBWlAAHUtQ3/sO45JJRD0ITj

9O5KecJXpmj5qYNsCgdsZ9h3T0BARJBa4Lw1UTv0pFxGkn8FaRO2De4bt6uJvY2dubQ8CanGNiBxAUbbtkH5TbxgGPtNLdriCz/Zr5kmcdRrVlwwC44XmUC5ux+GpvoCP1Hq0+9BNn

+vUA/iGslpOSU1GWpgurXAcDTTQsoeixUxsSjtKn1eRgWUcJ4snB8iqH5QtVaZplLMCktzTg=="/>

  <add key="Viatecla.Factory.Scriptor.BackofficeURL" value="http://seguimientopedidos.dev:1001" />

  <!--  <add key="Viatecla.Factory.Scriptor.ImageDownloadMask" value="./static-img/files/%year(dtestate)%-%month(dtestate)%/%dtestate%_%SchemaID%$$

%ChannelID%$$%ContentID%$$%FieldName%$$%Lang%$$%Ver%.%fileextention%" />
-->

  <!-- EN PRD YA QUE LAS IMÁGENES DEBEN SER CON RUTAS FÍSICAS.-->

  <add key="Viatecla.Factory.Scriptor.ImageDownloadMask" value="http://seguimientopedidos.ransa.net/static/%year(dtestate)%-%month(dtestate)%/%dtestate%_%SchemaID%$$%ChannelID%$$%ContentID%$

$%FieldName%$$%Lang%$$%Ver%.%fileextention%"/>

  <!--<add key="Viatecla.Factory.Scriptor.ImageDownloadMask" value="http://imgs.santacasa.viatecla.com/share/%year(dtestate)%-%month(dtestate)%/%dtestate%_

%SchemaID%$$%ChannelID%$$%ContentID%$$%FieldName%$$%Lang%$$%Ver%.%fileextention%" />-->

  <add key="Viatecla.Factory.Scriptor.SMTP" value="localhost"/>

  <add key="Viatecla.Factory.Scriptor.RefreshCacheRegEx" value="" />

  <!--<add key="Viatecla.Factory.Scriptor.ProxyAddress" value="proxy_eua.ren.pt" />
  <add key="Viatecla.Factory.Scriptor.ProxyPort" value="8080" />-->

  <add key="Viatecla.Factory.Scriptor.Membership.ScriptorMembershipProvider.CreateUserFromAD" value="true" />
  <add key="Viatecla.Factory.Scriptor.Membership.ScriptorMembershipProvider.LDAPAddress" value="LDAP://DC=int,DC=VIATECLA,DC=PT" />

  <add key="Viatecla.Factory.Scriptor.ModularSite.MultipleSites" value="false" />
  <add key="Viatecla.Factory.Scriptor.ModularSite.SiteRootChannel" value="/ransa/portal/seguimientopedidos" />
  <add key="Viatecla.Factory.Scriptor.ModularSite.SiteHomeChannel" value="/ransa/portal/seguimientopedidos/homepage" />
  <add key="Viatecla.Factory.Scriptor.ModularSite.HostFieldName" value="HostAddress" />

  <add key="Viatecla.Factory.Scriptor.ModularSite.TranslationsProvider" value="Scriptor" />
  <!--"Scriptor" /-->
  <add key="Viatecla.Factory.Scriptor.ModularSite.TranslationsChannel" value="/ransa/portal/seguimientopedidos/otros_contenidos/traducciones" />

  <!--<add key="Viatecla.Factory.Scriptor.ModularSite.SearchType" value="TernaryTree" />-->
  <add key="Viatecla.Factory.Scriptor.ModularSite.SearchType" value="FullText" />
  <add key="Viatecla.Factory.Scriptor.ModularSite.SearchSubChannels" value="true" />
  <add key="Viatecla.Factory.Scriptor.ModularSite.FullTextSearchPageSize" value="999" />

  <add key="Viatecla.Factory.Scriptor.ModularSite.PreventUrlRewriteExtensions" value=".jpg,.png,.gif,.aspx,.asp,.js,.css,.tmpl" />
  <add key="Viatecla.Factory.Scriptor.ModularSite.PrefixPath" value="" />
  <add key="Viatecla.Factory.Scriptor.ModularSite.FriendlyUrlSeparator" value="-" />

  <add key="Viatecla.Factory.Scriptor.ModularSite.UseCultureInURL" value="true" />

  <add key="Viatecla.Factory.Scriptor.ModularSite.RegisteredModules" value="Viatecla.Factory.Scriptor.ModularSite.Administration;GR.Scriptor.Msc.Memberships;ModuloPilotoSodexo" />
  <add key="ModulosRegistrarPublicos" value="SeguridadLocal;PedidoIndividual"/>

  <add key="Viatecla.Factory.Scriptor.ModularSite.Administration.EditUrl" value="admin." />
  <add key="Viatecla.Factory.Scriptor.ModularSite.Administration.RepositoryChannel" value="/ransa/portal/repositorio/ficheiros" />

  <!--MODULO SUBSCRIPCION MAILCHIMP - INICIO -->
  <add key="StrCanalContenido_Subscripcion" value="17D0D28F-998E-418D-BD76-F372707DE681" />
  <add key="StrContenidoNotificaciones_Subscripcion_Cliente" value="02AD0A21-FD0E-47CE-991A-C916299578E6" />
  <add key="StrContenidoNotificaciones_Subscripcion_Administrador" value="F2D2E9E2-BB43-4665-BA8A-7ECC751DEC41" />

  <add key="StrCanalContenido_Form1" value="FF3BF8DA-D84E-4945-BD1C-ABCA68CF18A3" />
  <add key="StrContenidoNotificaciones_Form1_Cliente" value="08EAA244-9B6E-461E-8C73-99CC0566685F" />
  <add key="StrContenidoNotificaciones_Form1_Administrador" value="6B90DFEA-B203-4A7A-8A76-0378163B3FD9" />

  <add key="StrCanalContenido_Form2" value="3C2FEDCC-6C84-44E2-B4B6-553BB1B76F90" />
  <add key="StrContenidoNotificaciones_Form2_Cliente" value="641E4DA0-2B15-48D8-A175-287CACAE1C2A" />
  <add key="StrContenidoNotificaciones_Form2_Administrador" value="77B54E33-59F7-4952-8883-33876802AD65" />

  <add key="StrCanalContenido_Form3" value="27B6901D-8521-4FA9-A6F5-B7D816ACD78F" />
  <add key="StrContenidoNotificaciones_Form3_Cliente" value="6BB9C4E5-8D48-433F-A824-393B808C81C5" />
  <add key="StrContenidoNotificaciones_Form3_Administrador" value="6BB9C4E5-8D48-433F-A824-393B808C81C5" />
  <add key="StrCanalNotificaciones" value="84A267A1-E06D-4D84-938E-4E72ABC1C2E1" />
  <add key="StrPathFrontEnd" value="http://pilotosodexo.dev/" />

  <add key="StrMailChimp.Habilitar" value="1" />
  <add key="StrMailChimp.Key" value="64efc769c64d2f06fea0d0b18cef8dae-us10" />
  <add key="StrMailChimp.NombreLista" value="Prueba" />
  <add key="StrMailChimp.CamposEsquema" value="nome;email" />
  <add key="StrMailChimp.CampoEmailEsquema" value="email" />
  <add key="StrMailChimp.CamposMailChimpName" value="NombreCompleto;Email Address" />
  <!--MODULO SUBSCRIPCION MAILCHIMP - FIN -->

  <!-- <MAIL> -->
  <add key="From" value=""/>
  <add key="Host" value="10.72.1.71"/>
  <add key="Port" value=""/>
  <add key="EnableSsl" value="false"/>
  <add key="UseDefaultCredentials" value="true"/>
  <add key="CredentialsUser" value=""/>
  <add key="CredentialsClave" value=""/>
  <add key="TipoCorreoAdjunto" value="2" />
  <!--1:Imagenes Adjuntas, 2: Imagenes Embebidas, 3: Imágenes Front End Url-->
  <!-- </MAIL> -->

  <!--<LOG>-->
  <add key="HabilitarLog" value="1"/>
  <add key="TipoError" value="INFO" />
  <add key="RutaLogMain" value="C:\Viatecla\Ransa.SeguimientoPedidos\Ransa.PilotoSodexo.ModularSite\log\" />
  <add key="NameLog" value="LogPilotoSodexoWeb.txt" />
  <add key="NameLogMapa" value="LogMapaPilotoSodexoWeb.csv" />

  <!--<LOG>-->

  <!--  <VARIABLES DE APLICACION> -->
  <add key="semillaEncriptacionPublica" value="S3rv1c10sGR$1p@$$W0rD" />
  <add key="idAplicacion" value="F19B86D4-ECCF-438A-8B81-EFD888B45F1D" />
  <add key="usuarioPorDefecto" value="anonimo" />
  <add key="accionEliminarWorkflow" value="del" />
  <add key="webSiteChannelName" value="SeguimientoPedidos"/>
  <add key="ControladoraCalculadorWeb" value="SeguimientoPedidosWeb" />
  <add key="ControladoraSeguridad" value="Seguridad" />
  <!--  </VARIABLES DE APLICACION> -->



  <!--  MODULO SEGURIDAD CORPORATIVO - FIN -->
  <add key="UrlServicioSeguridad" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/GetInfoUsuario" />
  <add key="UrlCambiarClave" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/CambiarClave" />
  <add key="UrlCambiarClaveWeb" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/CambiarClaveWeb" />

  <add key="UrlLogin" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/Login" />
  <add key="UrlGetInfoUsuario" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/GetInfoUsuario" />

  <add key="UrlConsultarPermisos" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/ConsultarPermisos" />
  <add key="UrlListarUsuarios" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/ListarUsuarios" />
  <add key="UrlListarUsuariosPorCargo" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/ListarUsuariosPorCargo" />
  <add key="UrlGetInfoBasicaUsuarios" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/GetInfoBasicaUsuarios" />
  <add key="UrlListarCargosPorSociedad" value="http://10.72.20.26/GRSeguridad/SeguridadGR.svc/ListarCargosPorSociedad" />
  <add key="UrlCerrarSesion" value="http://10.72.20.26/GRSeguridad/GRSeguridad.svc/CerrarSesion" />
  <add key="UrlGetNombreUsuario" value="http://10.72.20.26/GRSeguridad/GRSeguridad.svc/GetNombreUsuario" />

  <add key="AcronimoAplicacion" value="RASEGPE" />
  <add key="DominioAplicacion" value="GRUPOCOGESA" />
  <add key="semillaEncriptacionPublica" value="S3rv1c10sGR$1p@$$W0rD" />
  <!--  MODULO SEGURIDAD CORPORATIVO - FIN -->

  <!--INTEGRACIÓN-->
  <add key="UrlListarResumenPedido" value="http://10.72.13.42/WS_SGL/SeguimientoPedidoServicio.svc/SeguimientoPedido/ListarResumenPedido" />
  <add key="UrlListarConsultaPedido" value="http://10.72.13.42/WS_SGL/SeguimientoPedidoServicio.svc/SeguimientoPedido/ListarConsultaPedido" />
  <add key="UrlObtenerCabeceraPedido" value="http://10.72.13.42/WS_SGL/SeguimientoPedidoServicio.svc/SeguimientoPedido/ObtenerCabeceraPedido" />
  <add key="UrlListarDetallePedido" value="http://10.72.13.42/WS_SGL/SeguimientoPedidoServicio.svc/SeguimientoPedido/ListarDetallePedido" />
  <add key="UrlObtenerCabeceraDetallePedido" value="http://10.72.13.42/WS_SGL/SeguimientoPedidoServicio.svc/SeguimientoPedido/ObtenerCabeceraDetallePedido"

/>
  <add key="UrlListarGuiaRemision" value="http://10.72.13.42/WS_SGL/SeguimientoPedidoServicio.svc/SeguimientoPedido/ListarGuiaRemision" />
  <add key="UrlObtenerGuiaRemision" value="http://10.72.13.42/WS_SGL/SeguimientoPedidoServicio.svc/SeguimientoPedido/ObtenerGuiaRemision" />
  <add key="UrlListarDetalleGuiaRemision" value="http://10.72.13.42/WS_SGL/SeguimientoPedidoServicio.svc/SeguimientoPedido/ListarDetalleGuiaRemision" />

  <add key="UrlAgregarArchivo" value="http://localhost:8734/AdjuntarArchivosServicio.svc/AgregarArchivo" />
  <add key="UrlEliminarArchivos" value="http://localhost:8734/AdjuntarArchivosServicio.svc/EliminarArchivos" />
  <add key="UrlDescargarArchivo" value="http://localhost:8734/AdjuntarArchivosServicio.svc/DescargarArchivo" />

  <!--FIN INTEGRACIÓN -->

  <!--CANALES-->
  <add key="GuidCanalTipoPedido" value="8A6C86CF-51DF-428B-BB45-C59E1D75C5AB"/>
  <add key="GuidCanalCuenta" value="F2653C21-A6CC-43DA-B7C9-0FC0144FA8CE"/>
  <add key="GuidCanalNegocio" value="40AC8FD1-0A47-4C9E-A708-DFF1316D1519"/>
  <add key="GuidCanalAlmacen" value="995F47EA-B82A-4CEC-8519-E7BFD7E92425"/>
  <add key="GuidCanalCliente" value="3B9FD195-FD6A-4F26-A90F-3F76C83AD16A"/>
  <!--FIN CANALES-->

  <!--WCF SCRIPTOR-->
  <add key="UrlListarCliente" value="http://localhost:8734/MaestroServicio.svc/ListarCliente" />
  <add key="UrlListarCuenta" value="http://localhost:8734/MaestroServicio.svc/ListarCuenta" />
  <add key="UrlListarTipoPedido" value="http://localhost:8734/MaestroServicio.svc/ListarTipoPedido" />
  <add key="UrlListarNegocio" value="http://localhost:8734/MaestroServicio.svc/ListarNegocio" />
  <add key="UrlListarAlmacen" value="http://localhost:8734/MaestroServicio.svc/ListarAlmacen" />
  <add key="UrlObtenerCorrelativoMaestro" value="http://localhost:8734/MaestroServicio.svc/ObtenerCorrelativoMaestro" />
  <add key="UrlRegistrarMasivoCliente" value="http://localhost:8734/MaestroMasivoService.svc/RegistraMasivocliente" />
  <add key="UrlRegistrarMasivoMaterial" value="http://localhost:8734/MaestroMasivoService.svc/RegistraMasivoMaterial" />
  <add key="UrlRegistrarMasivoAlmacen" value="http://localhost:8734/MaestroMasivoService.svc/RegistraMasivoAlmacen" />

  <!--FIN WCF SCRIPTOR-->

  <!-- WCF PEDIDO-->
  <add key="UrlRegistrarPedido" value="http://localhost:8734/PedidoIndividualServicio.svc/RegistrarPedidoIndividual" />
  <add key="UrlEliminarPedido" value="http://localhost:8734/PedidoIndividualServicio.svc/EliminarPedidoIndividual" />
  <add key="UrlActualizarPedido" value="http://localhost:8734/PedidoIndividualServicio.svc/ActualizarPedidoIndividual" />
  <add key="UrlListarPedido" value="http://localhost:8734/PedidoIndividualServicio.svc/ListarPedidoIndividual" />
  <add key="UrlObtenerDetallePedido" value="http://localhost:8734/PedidoIndividualServicio.svc/ObtenerDetallePedidoIndividual" />
  <add key="UrlValidarPedido" value="http://localhost:8734/PedidoIndividualServicio.svc/ValidarPedidoIndividual" />

  <add key="UrlRegistrarPedidoMasivo" value="http://localhost:8734/PedidoIndividualServicio.svc/RegistrarPedidoIndividualMasivo" />
  <add key="UrlObtenerNumeroPedido" value="http://localhost:8734/MaestroServicio.svc/ObtenerCorrelativoMaestro" />
  <add key="UrlCambiarEstadoPedido" value="http://localhost:8734/PedidoIndividualServicio.svc/CambiarEstadoPedidoIndivial" />


  <!-- FIN WCF PEDIDO-->


  <!--CONEXION-->
  <add key="TrabajarConContextoLocal" value="true" />
  <add key="TimeOutWcfMinutos" value="10" />

  <!--FIN CONEXION-->

  <!--JM-->
  <add key="EstadoPedidoMasivo" value="masivo" />
  <add key="EstadoPedidoInicial" value="pendiente_de_atencion" />
  


</appSettings>