<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections />
    <connectionStrings>
    <!--<add name="BDMonitoreo" connectionString="Database=Monitoreo;Server=CORCPU1254;Integrated Security = true;" providerName="System.Data.SqlClient" />-->
    <add name="BDkomatsu" connectionString="Database=komatsuSales;Server=anderson.cqeh1iyi4ggy.us-west-2.rds.amazonaws.com;User Id=anderson;Password=anderson;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <services>
      <service name="ServiciosKomatsuSales.Service1">
        <endpoint address="soapService" binding="basicHttpBinding" bindingConfiguration="MulContractbasicBinding"
            contract="ServiciosKomatsuSales.IService1" />
        <endpoint address="" behaviorConfiguration="restPoxBehavior"
            binding="webHttpBinding" bindingConfiguration="MulContractWebBinding"
            contract="ServiciosKomatsuSales.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:6503/Service1.svc/" />
          </baseAddresses>
        </host>
      </service>
     

    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="Service1.svc" service="ServiciosKomatsuSales.Service1"  />
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <webHttpBinding>
        <binding name="MulContractWebBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="MulContractbasicBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restPoxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="restServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--ER2005-CAMBIAR A TRUE PARA HACER EL DEBUG-->
          <serviceThrottling maxConcurrentCalls="32" maxConcurrentInstances="2147483647" maxConcurrentSessions="20"/>
        </behavior>
        <behavior name="soapServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--ER2005-CAMBIAR A TRUE PARA HACER EL DEBUG-->
          <serviceThrottling maxConcurrentCalls="32" maxConcurrentInstances="2147483647" maxConcurrentSessions="20"/>
        </behavior>

        <behavior name="">
          <serviceMetadata httpGetEnabled="true"
            httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--ER2005-CAMBIAR A TRUE PARA HACER EL DEBUG-->
          <serviceThrottling maxConcurrentCalls="32" maxConcurrentInstances="2147483647" maxConcurrentSessions="20"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
